.selectionBox{
    color:white;
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    background-image: url("wave.jpg");
    background-size: cover;
}

.player-one-pieces {
  width: 600px;
  height: 600px;
  background-color: lightblue;
}

.player-two-pieces {
  width: 600px;
  height: 600px;
  background-color: lightblue;
}
